body {
    background-color: #FFFFFF;
    font-family: 'Roboto' sans-serif;
}

ul {
    list-style: none;
}

.header-container {
    width: 100%;
    height: 80px;
    padding: 0;
}

.logo {
    color: #2196F3;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    text-decoration: none;
    width: 145px;
    height: 31px;
    margin-left: 215px;
    margin-top: 24px;
    position: absolute;
}

.logo-header {
    color: #000000;
}

.site-nav-container {
    margin-left: 453px;
}

.site-nav {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121; 
    text-decoration: none;
    display: block; 
    float: left;
    margin-right: 50px;
    margin-top: 32px;
}

.current {
    color: #2196f3;
}

.site-nav:hover {
    color: #2196f3;
}

.contacts {
    display: flex;
    margin-right: 331px;
}

.contacts-email,
.contacts-tel {
    text-decoration: none;
    color: #757575;
    margin-right: 50px;
    margin-top: 32px;
}

.contacts-email:hover,
.contacts-tel:hover {
    color: #2196f3;
}

.section-hero {
    background-color: #2F303A;
    width: 100%;
    height: 600px;
    margin-left: 0px;  
    margin-top: 27px;
    position: relative;
}

.title-hero {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    height: 120px;
    margin-left: 452px;
    position: absolute;
    margin-top: 200px;
}

.button-hero {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    cursor: pointer;
    border: none;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: 700px;
    margin-top: 350px;
    position: absolute;
    }

.features-container {
    width: 1170px;
    height: 101px;
    margin-left: 215px;
    margin-top: 67px;
}

.features-list {
    display: flex; 
}

.section-title-text {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-right: 30px;
    width: 270px;
}

.section-p-text {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    margin-right: 30px;
    width: 270px;
    margin-top: 10px;
}

.doing-container {
    margin-top: 94px;
    margin-left: 215px;
    width: 1170px;
    height: 386px;
}

.doing-list {
    display: flex;
}

.doing-item {
    margin-right: 30px;
}

.title-second {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 94px;
    margin-bottom: 50px;
}

.workers-container {
    width: 1600px;
    height: 648px;
    margin-top: 94px;
}

.workers-list {
    display: flex;
    margin-left: 215px;
}

.workers-info {
    margin-right: 30px;
}

.title-names {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.text-about {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.footer {
    background: #2F303A;
    width: 100%;
    height: 252px;
}

.footer-address-list {
    width: 231px;
    height: 81px;
    margin-top: 20px;
    margin-left: 215px;
}

.list {
    text-decoration: none;
    text-decoration: none;
    color: #757575;
}

.list:hover {
    color: #2196f3;
}

.address-map {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}

.logo-footer {
    color: #2196F3;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    text-decoration: none;
    width: 145px;
    height: 31px;
    margin-top: 60px;
    margin-left: 215px;
}

.logo-second {
    color: #FFFFFF;
}

.list-btn {
    display: flex;
    margin-top: 94px;
    margin-left: 495px;
}

.button-second {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: #F5F4FA;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    height: 38px;
    margin-right: 8px;
}

.button-second:hover {
    background-color: #2196F3;
    border-radius: 4px;
    color: #FFFFFF;
}

.portfolio {
    width: 1170px;
    height: 1360px
}

.portfolio-list {
    display: flex;
}

.title-third {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}

.text-third {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}